@{
    ViewBag.Title = "AlphaTesting";
}

<h2>AlphaTesting</h2>
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <h2>About Alpha Testing</h2>
                    <p>
                        Welcome and thank you for alpha testing MyJeepTrader.com!
                        Alpha testing is key for MyJeepTrader.com to see if there is a need and want for a service like MyJeepTrader.com provides.
                        Currently the state of MyJeepTrader is in it's infancy and the site is far from perfect yet.
                        Alpha testing is usually done internally while beta testing is normally open to the public, but being a small (1 man) company, opening
                        alpha testing to the public only makes sense. Alpha testing will be for a small number of people, roughly 10 users. This will help me see
                        if a service like this will survive in the marketplace. Please share your thoughts in the "Feedback" page of the website. Thank you!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h2>Coming to Beta Testing</h2>
                    <p>
                        If feedback from Alpha testing is positive, there will be much more for Beta testing in the coming months!
                        <h3>Key Features</h3>
                        <ul title="Key Features">
                            <li>
                                Instant Chat
                            </li>
                            <li>
                                Forum
                            </li>
                            <li>
                                Email/Text Notifications
                            </li>
                            <li>
                                Better Search
                            </li>
                            <li>
                                Advance Search
                            </li>
                            <li>
                                A new view posting page layout
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>What to Test</h2>
                            <p>Currently the site is in a basic state. There may be validation issues and bugs. But you can test everything that is available currently! Please report any bugs or wanted features in the "Feedback" page or message me in the Dashboard!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


