@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 transbox">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2 style="color:white" class="text-left">My Jeep Trader</h2>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <h3>Make it your own.</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-right">
                                    <label style="color:white">Want more search options?</label>
                                    <button type="button" class="btn-info-home" onclick="location.href='Post/Index'">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-horizontal">
                                @using (Html.BeginForm("SearchPosts", "Post", FormMethod.Post))
                                {
                                    <div class="input-group col-lg-12">
                                        @Html.TextBox("Search", null, new { @class = "form-control input-lg no-max-width", @placeholder = "What are you looking for?" })
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-group-lg btn-lg" type="button">Search</button>
                                        </span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-3 col-sm-4 col-sm-offset-0 col-lg-4 col-lg-offset-0">
                <h2>Buy</h2>
                <p>
                    Search posts now!
                </p>
                <p><a class="btn btn-default" href="~/Post/Index">Search for something!</a></p>
            </div>
            <div class="col-xs-4 col-xs-offset-3 col-sm-4 col-sm-offset-0 col-lg-4 col-lg-offset-0">
                <h2>Sell</h2>
                <p>
                    To sell, create a fee account now!
                </p>
                <p><a class="btn btn-default" href="~/Account/Register">Register Now</a></p>
            </div>
            <div class="col-xs-4 col-xs-offset-3 col-sm-4 col-sm-offset-0 col-lg-4 col-lg-offset-0">
                <h2>Trade</h2>
                <p>
                    Search all trades posts now!
                </p>
                <p><a class="btn btn-default" href="~/Post/Index?Trade=true">Search Trades!</a></p>
            </div>
        </div>
    </div>
</div>​