@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <div class="container">
        <div class="transbox">
            <h2 style="color:white">MyJeepTrader.com</h2>
            <p>Make it your own.</p>
            <div class="rightalign">
                <label style="color:white">Want more search options?</label>
                <button type="button" class="btn-info-home">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
            <div class="form-horizontal">
                @using (Html.BeginForm("SearchPosts", "Post", FormMethod.Post))
                {
                    <div class="input-group">
                        @Html.TextBox("Search", null, new { @class = "form-control input-lg no-max-width", @placeholder = "What are you looking for?" })
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-group-lg btn-lg" type="button">Search</button>
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Buy</h2>
        <p>
            Search posts now!
        </p>
        <p><a class="btn btn-default" href="~/Post/Index">Search for something!</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sell</h2>
        <p>
            To sell, create a fee account now!
        </p>
        <p><a class="btn btn-default" href="~/Account/Register">Register Now</a></p>
    </div>
    <div class="col-md-4">
        <h2>Trade</h2>
        <p>
            Search all trades posts now!
        </p>
        <p><a class="btn btn-default" href="~/Post/Index?Trade=true">Search Trades!</a></p>
    </div>
</div>
