@model MyJeepTrader.Web.ViewModels.StatusCreateViewModel
@{
    Layout = "";
}
<div id="divStatus" class="well well-sm">
    @using (Html.BeginForm("CreateStatus", "Status", FormMethod.Post, new { enctype = "multipart/form-data", @id = "CreateStatus", @class = "create-status form-group-sm" }))
    {
        <div class="row">
            <div class="col-sm-12">
                @Html.TextAreaFor(model => model.status, new { cols = "1", rows = "1", @class = "form-control no-max-width input-sm", id = "tbStatus", placeholder = "Beep Here", req = "tbStatus" })
            </div>
        </div>
        @*<a href="#" class="glyphicon glyphicon-camera glyphicon-camera-input"></a>*@
        <div class="row collapse" id="divStatusInputs">
            <br />
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">
                        <a class="icon"><span id="spanImageInput" class="glyphicon glyphicon-camera glyphicon-camera-input icon"></span></a>
                        <input id="imageInput" multiple type="file" class="hidden" name="files" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-right">
                <div class="text-right">
                    <a id="aSubmitStatus" class="btn btn-primary">Submit</a>
                    <input id="btnSubmitStatus" type="submit" class="btn hidden" />
                </div>
            </div>
        </div>
    }
</div>
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery.submissionOK.js"></script>
<script>
    $(function () {
        var names = [];

        $.ajax({
            type: 'POST',
            url: '/Webservices/UserInformationWebService.asmx/GetMentionUserNames',
            data: "",
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (result) {
                $.each(result.d, function (i) {
                    console.log(result.d[i]);
                    names[i] = "@@" + result.d[i].UserName + " ";
                });
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });

        var accentMap = {
            "á": "a",
            "ö": "o"
        };
        var normalize = function (term) {
            var ret = "";
            for (var i = 0; i < term.length; i++) {
                ret += accentMap[term.charAt(i)] || term.charAt(i);
            }
            return ret;
        };

        $('#tbStatus').keydown(function (e) {
            console.log(String.fromCharCode(e.which));
            if (String.fromCharCode(e.which) === "2") {
                $('#tbStatus').autocomplete({
                    source: function (request, response) {
                        var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
                        response($.grep(names, function (value) {
                            value = value.label || value.value || value;
                            return matcher.test(value) || matcher.test(normalize(value));
                        }));
                    }
                });
            }
        });
    });


    $('#spanImageInput').mousedown(function () {
        $('#imageInput').click();
    });

    $('#aSubmitStatus').mousedown(function () {
        jQuery('.create-status [req]').submissionOK({
            displayOnForm: false,
            highlight: true,
            submissionOKName: 'Create-Status',
            submitButtonId: 'btnSubmitStatus'
        });
        return false;
    });

    $('#tbStatus').click(function () {
        $('#divStatusInputs').collapse("toggle");
        $(this).attr('rows', '4');
    });

    $('#divStatus').focusout(function () {
        $('#divStatusInputs').collapse("toggle");
        $('#tbStatus').attr('rows', '1');
    });

    $.fn.submissionOK.formSubmission = function (o) {
        switch (o.submissionOKName) {
            case 'Create-Status':
                jQuery('#' + o.submitButtonId).click();
                break;
        }
    };
</script>
