@font-face {
    font-family: "Ionicons";
    src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1");
    src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.tab_container {
    clear: both;
    overflow: hidden;
    margin-bottom: 24px;
}

.transbox {
    height: 100%;
    margin: 30px;
    background-color: #000000;
    /*border: 1px solid black;*/
    border-radius: 25px;
    opacity: 0.75;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.rightalign {
    text-align: right;
    padding-right: 2%;
}

div.CenterSubTitle {
    text-align: left;
    padding-left: 7%;
}

.column {
    width: 49.5%;
    margin-right: .5%;
    min-height: 300px;
    background: #fff;
    float: left;
}

    .column .dragbox {
        margin: 5px 2px 20px;
        background: #fff;
        position: relative;
        border: 1px solid #ddd;
        moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

        .column .dragbox h2 {
            margin: 0;
            font-size: 12px;
            padding: 5px;
            background: #f0f0f0;
            color: #000;
            border-bottom: 1px solid #eee;
            font-family: Verdana;
            cursor: move;
        }

.dragbox-content {
    background: #fff;
    min-height: 100px;
    margin: 5px;
    font-family: 'Lucida Grande', Verdana;
    font-size: 0.8em;
    line-height: 1.5em;
}

.column .placeholder {
    background: #f0f0f0;
    border: 1px dashed #ddd;
}

.dragbox h2.collapse {
    background: #f0f0f0 url('collapse.png') no-repeat top right;
}

.dragbox h2 .configure {
    font-size: 11px;
    font-weight: normal;
    margin-right: 30px;
    float: right;
}

.success {
    background: #d9f9e0;
    border: 1px solid #339933;
    padding: 5px;
    font-weight: bold;
}

.fail {
    background: #FF6666;
    border: 1px solid #8B0000;
    padding: 5px;
    font-weight: bold;
}

.searchBox {
    display: table;
    margin: 0 auto;
    border: 1px solid black;
    height: 60px;
    width: 60px;
}

.boxCenter {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    margin-top: 100px;
}

.no-max-width {
    max-width: none;
}

.topSpace {
    top: 15px;
}

.userTable {
    border-spacing: 0;
    border-collapse: collapse;
}

    .userTable .td {
        padding-bottom: 100Px;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 100px;
    }

.ulTitle {
    list-style-type: none;
    display: inline-block;
}

.wrapper {
    margin: 50px auto;
    width: 280px;
    height: 370px;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    position: relative;
    z-index: 90;
}

.ribbon-wrapper-green {
    width: 165px;
    height: 135px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: 0px;
}

.ribbon-green {
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -10px;
    top: 38px;
    width: 230px;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

    .ribbon-green:before, .ribbon-green:after {
        content: "";
        border-top: 3px solid #6e8900;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        position: absolute;
        bottom: -3px;
    }

    .ribbon-green:before {
        left: 0;
    }

    .ribbon-green:after {
        right: 0;
    }

.miniDash {
    padding-top: 5px;
}
