@model MyJeepTrader.Web.ViewModels.UserProfileIndexViewModel

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<table class="table">
    @foreach (var item in Model.UserProfiles)
    {
        <tr>
            <td>
                <div>
                    @if (item.Avatar != null)
                    {
                        <a href='@Url.RouteUrl("Details", new { UserName = item.UserName })'>
                            <img src='@Url.Action("ShowAvatar", "UserProfile", new { UserName = item.UserName })' width="43" height="43" />
                        </a>
                    }
                    else
                    {
                        <img src="~/Images/placeholder.jpg" width="43" height="43" />
                    }
                </div>
                <div>
                    @Html.DisplayFor(modelItem => item.LastName)
                    @Html.DisplayFor(modelItem => item.UserName)
                </div>
            </td>
        </tr>
    }

</table>
